In [4]:
import bs4
import requests
import pandas
from bs4 import BeautifulSoup

url = 'https://www.transfermarkt.com/manchester-united/startseite/verein/985#'

## opening the html

headers = {"User-Agent":"Mozilla/5.0"}
soup = BeautifulSoup(requests.get(url, headers=headers).content, 'html.parser')



players = soup.findAll("tr",{"class":["odd","even"]})

all_data = []
for player in players:

   category = player.td['title']
   name1 = player.findAll("td",{"class":"hide"})
   name = name1[0].text
   age1 = player.findAll("td",{"class":"zentriert"})
   age = age1[1].text
   price1 = player.findAll("td",{"class":"rechts hauptlink"})
   price = price1[0].text.split('m')[0]+'m'
   num = player.td.div.text
   
   all_data.append({
            'Name': name,
            'Field Position': category,
            'number': num,
            'age': age,
            'Market Value': price,
        })
   

df = pandas.DataFrame(all_data)
print(df)
df.to_csv('data.csv')

                   Name Field Position number                age Market Value
0          David de Gea     Goalkeeper      1   Nov 7, 1990 (29)      €40.00m
1        Dean Henderson     Goalkeeper      -  Mar 12, 1997 (23)      €20.00m
2         Sergio Romero     Goalkeeper     22  Feb 22, 1987 (33)       €2.80m
3             Lee Grant     Goalkeeper     13  Jan 27, 1983 (37)   €600Th.  m
4         Harry Maguire       Defender      5   Mar 5, 1993 (27)      €56.00m
5       Victor Lindelöf       Defender      2  Jul 17, 1994 (26)      €28.00m
6        Chris Smalling       Defender     12  Nov 22, 1989 (30)      €20.00m
7           Eric Bailly       Defender      3  Apr 12, 1994 (26)      €17.50m
8           Marcos Rojo       Defender     16  Mar 20, 1990 (30)       €8.00m
9         Axel Tuanzebe       Defender     38  Nov 14, 1997 (22)       €8.00m
10           Phil Jones       Defender      4  Feb 21, 1992 (28)       €7.00m
11            Luke Shaw       Defender     23  Jul 12, 1995 (25)      €22.00m
12     Brandon Williams       Defender     33   Sep 3, 2000 (20)      €11.00m
13    Aaron Wan-Bissaka       Defender     29  Nov 26, 1997 (22)      €40.00m
14          Diogo Dalot       Defender     20  Mar 18, 1999 (21)      €12.00m
15  Timothy Fosu-Mensah       Defender     24   Jan 2, 1998 (22)       €6.30m
16        Nemanja Matic     Midfielder     31   Aug 1, 1988 (32)      €16.00m
17         James Garner     Midfielder     37  Mar 13, 2001 (19)       €2.70m
18           Paul Pogba     Midfielder      6  Mar 15, 1993 (27)      €80.00m
19    Donny van de Beek     Midfielder     34  Apr 18, 1997 (23)      €44.00m
20      Scott McTominay     Midfielder     39   Dec 8, 1996 (23)      €22.50m
21                 Fred     Midfielder     17   Mar 5, 1993 (27)      €17.50m
22      Bruno Fernandes     Midfielder     18   Sep 8, 1994 (26)      €70.00m
23        Jesse Lingard     Midfielder     14  Dec 15, 1992 (27)      €17.50m
24      Andreas Pereira     Midfielder     15   Jan 1, 1996 (24)      €16.00m
25            Juan Mata     Midfielder      8  Apr 28, 1988 (32)       €9.50m
26      Marcus Rashford        Forward     10  Oct 31, 1997 (22)      €80.00m
27         Daniel James        Forward     21  Nov 10, 1997 (22)      €19.00m
28      Anthony Martial        Forward      9   Dec 5, 1995 (24)      €58.00m
29      Mason Greenwood        Forward     11   Oct 1, 2001 (18)      €45.00m
30         Odion Ighalo        Forward     25  Jun 16, 1989 (31)       €5.20m